body {
  background-color: #141414;
  color: #DDDDDD;
  font-family: "Rajdhani";
}

.bar {
  background-color: #009640;
  border: 0.1rem solid #009640;
  border-radius: 0.5rem;
  box-sizing: border-box;
  height: 100%;
}

.bar-chart {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

.bar-chart-container {
  height: 35rem;
}

.bar-container {
  cursor: default;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.bar-container:hover, .bar-container:focus {
  background-color: #00000044;
  border-radius: 0.5rem;
}

.bar-title {
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.bar-title.outside {
  color: #DDDDDD;
  font-weight: normal;
}

.color-start-box {
  color: #009640;
}

.modal {
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-footer-border-color: var(--bs-border-color-translucent);
  --bs-modal-header-border-color: var(--bs-border-color-translucent);
}
