@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    src: local('Rajdhani'), url('/fonts/rajdhani/Rajdhani-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 300;
    src: local('Rajdhani'), url('/fonts/rajdhani/Rajdhani-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    src: local('Rajdhani'), url('/fonts/rajdhani/Rajdhani-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    src: local('Rajdhani'), url('/fonts/rajdhani/Rajdhani-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    src: local('Rajdhani'), url('/fonts/rajdhani/Rajdhani-Bold.woff2') format('woff2');
}
